/* 全体 */
*{
  padding: 0;
  margin: 0;
  h1{
    font-size: 2em;
  }
  .bg_tomato{
    background: #AAD6EC;
  }
}

body{
  .header_container,.footer_container{
    color: #fff;
    padding:30px 20px;
  }
  main{
    h1{
      color: #AAD6EC;
    }
    .main_container{
      width: 95%;
      padding: 40px 0;
      margin: 0 auto;
    }
  }
}

/* form */
table{
  background: #EEF9FF;
  border-collapse: collapse;
  text-align: center;
  .title_table{
    width: 200px;
  }
  .btn_table{
    width: 50px;
    min-width: 50px;
  }
  th{
    color: #AAD6EC;
  }
  td{
    color: #5B5B5B;
  }
  th,td{
    border: solid 1px #ccc;
    padding: 15px 10px;
  }
  
}

/* button  */
.btn{
  color: #fff;
  text-decoration: none;
  border-radius: 100vh;
  transition: opacity, 0.3s;
  padding: 5px 8px;
  &:hover{
    opacity: 0.8;
  }
}

.btn_red{
  background:#EB8686 ;
}

.btn_blue{
  background:#AAD6EC ;
}

nav.top_nav{
  margin: 30px 0;
  a
}