/* 全体 
*{
  padding: 0;
  margin: 0;
  h1{
    font-size: 2em;
  }
  .bg_tomato{
    background: tomato;
  }
}

body{
  .header_container,.footer_container{
    color: #fff;
    padding: 10px;
  }
  main{
    .main_container{
      
    }
  }
}

